body {
    font-family: "Times New Roman";
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    border: 1px solid black;
    padding: 8px;
    text-align: center;
}

th {
    background: #eaeaea;
}

button {
    margin-top: 15px;
    padding: 8px 15px;
}

@media print {
    button {
        display: none;
    }
}